.btn-edit {
    display: inline-block;
    padding: 6px 12px;
    background: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}
.btn-edit:hover {
    background: #45a049;
}

.btn-delete {
    display: inline-block;
    padding: 6px 12px;
    background: #c71732;
    color: white;
    border-radius: 4px;
}
.btn-delete:hover {
    background: #ac142c;
}
