.btn-edit {
    display: inline-block;
    padding: 6px 12px;
    background-color: #5c5b5b;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 20px;
}
.btn-edit:hover {
    background-color: #504f4f;
}

.btn-menu{
    display: inline-block;
    padding: 6px 12px;
    background-color: #5c5b5b;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.btn-menu:hover{
    background-color: #504f4f;
}

.btn-delete {
    display: inline-block;
    padding: 6px 12px;
    background-color: #c71732;
    font-size: 20px;
    color: white;
    border-radius: 4px;
}
.btn-delete:hover {
    background-color: #ac142c;
}


table, th, td {
    border: 1px solid #9a9999;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;

}

table th {
    background-color: #4a4a4a;
    color: white;
    padding: 10px;
    text-align: left;

}

table td {
    background-color: #dad7d7;
    color: black;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 12px;
}

table .btn-delete{
    font-size: 20px;
}

form{
    font-family: Arial, sans-serif;
}

form label{
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}


form input{
    border: 1px solid black;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    background-color: #dad7d7;
    margin-bottom: 15px;
}

form button{
    display: inline-block;
    padding: 6px 12px;
    background-color: #5c5b5b;
    color: white;
    border-radius: 4px;
    font-size: 20px;
    margin-bottom: 15px;
}

form button:hover{
    background-color: #504f4f;
}

body {
    background-color: #c6bebe;
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 28px;
    color: black;
    margin-bottom: 20px;
}

p {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333333;
    line-height: 1.5;
    margin-bottom: 10px;
}

div{
    text-align: center;
}
