.btn-edit {
    display: inline-block;
    padding: 6px 12px;
    background-color: #2b9dc5;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-family: Arial, sans-serif;
}
.btn-edit:hover {
    background-color: #2991b6;
}

.btn-menu{
    display: inline-block;
    padding: 6px 12px;
    background-color: #2b9dc5;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-family: Arial, sans-serif;
}

.btn-menu:hover{
    background-color: #2991b6;
}

.btn-delete {
    display: inline-block;
    padding: 6px 12px;
    background-color: #c71732;
    color: white;
    border-radius: 4px;
}
.btn-delete:hover {
    background-color: #ac142c;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    margin-bottom: 10px
}

table th {
    background-color: #2b9dc5;
    color: white;
    padding: 10px;
    text-align: left;
}

table td {
    background-color: #a6c4c6;
    color: black;
    padding: 8px 12px;
    border-bottom: 1px solid #ddd;
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 28px;
    color: black;
    margin-bottom: 20px;
}

p {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333333;
    line-height: 1.5;
    margin-bottom: 10px;
}
