<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <title>Добавить ДР</title>
</head>
<body>
<h1>Добавить день рождения</h1>

<form th:action="@{/add}" method="post" enctype="multipart/form-data">
    <label>Имя*</label>
    <input type="text" name="name" required /><br/>

    <label>Дата рождения*</label>
    <input type="date" name="date" required /><br/>
    <div th:if="${dateError != null}">
        <span th:text="${dateError}" th:style="'color:red'"></span><br/>
    </div>


    <label>Фотография*</label>
    <input type="file" name="photo" accept="image/*" required/><br/>

    <button type="submit">Добавить</button>
</form>
<div>
<a th:href="@{/all}" class="btn-menu">Вернуться к общему списку ДР</a>
</div>
</body>
</html>
