<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавить ДР</title>
</head>
<body>
<h1>Добавить день рождения</h1>

<form th:action="@{/add}" method="post" enctype="multipart/form-data">
    <label>Имя:</label>
    <input type="text" name="name" /><br/>

    <label>Дата рождения:</label>
    <input type="date" name="date" /><br/>

    <label>Фотография:</label>
    <input type="file" name="photo" accept="image/*"/><br/>

    <button type="submit">Добавить</button>
</form>

<a th:href="@{/all}">Вернуться к общему списку ДР</a>
</body>
</html>
