<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список ДР</title>
</head>
<body>
<h1>Все дни рождения</h1>
    <div th:each="b : ${all_birthdays}">
        <span th:text="${b.index}"></span>.
        <span th:text="${b.name}"></span>
        <span th:text="'родился ' + ${b.date}"></span>
        <img th:src = "@{${b.photopath}}" width="100"/>
        <a th:href="@{edit/{id}(id=${b.id})}">Редактировать</a>
        <form th:action="@{/delete/{id}(id=${b.id})}" method="post" style="display:inline">
            <button type="submit">Удалить</button>
        </form>
        <br/>
</div>
<a href="/main">Главная</a>
<a href="/today">Список сегодняшних ДР</a>
<a href="/upcoming">Список ближайших ДР</a>
<a href="/skipped">Список прошедших ДР</a>
<a href="/add">Добавить ДР</a>
</body>
</html>
