<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ДР сегодня</title>
</head>
<body>
<h1>Сегодняшние дни рождения</h1>
<table>
    <thead>
    <tr>
        <th>№</th>
        <th>Имя</th>
        <th>Возраст</th>
        <th>Фото</th>
    </tr>
    </thead>

    <tbody>
        <tr th:each="b : ${today_birthdays}">
            <td><span th:text="${b.index} + '.'"></span></td>
            <td><span th:text="${b.name}"></span></td>
            <td><span th:text="${b.age}"></span></td>
            <td><img th:src="@{${b.photopath}}" width="300"></td>
        </tr>
    </tbody>
</table>
<a href="/main">Главная</a>
<a href="/all">Общий список ДР</a>
<a href="/upcoming">Список ближайших ДР</a>
<a href="/skipped">Список прошедших ДР</a>
<a href="/add">Добавить ДР</a>
</body>
</html>
