<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ближайшие ДР</title>
</head>
<body>
<h1>Ближайшие дни рождения</h1>
<div th:if="${upcoming_birthdays.isEmpty()}">
    <p>В ближайшее время дней рождения нет</p>
</div>
<table th:unless="${upcoming_birthdays.isEmpty()}">
    <thead>
    <tr>
        <th>№</th>
        <th>Имя</th>
        <th>Дата ДР</th>
        <th>Возраст</th>
        <th>Фото</th>
    </tr>
    </thead>

    <tbody>
        <tr th:each="b : ${upcoming_birthdays}">
            <td><span th:text="${b.index} + '.'"></span></td>
            <td><span th:text="${b.name}"></span></td>
            <td><span th:text="${b.date}"></span></td>
            <td><span th:text="${b.age}"></span></td>
            <td><img th:src="@{${b.photopath}}" width="300"></td>
        </tr>
    </tbody>
</table>
<a href="/main">Главная</a>
<a href="/all">Общий список ДР</a>
<a href="/today">Список сегодняшних ДР</a>
<a href="/skipped">Список прошедших ДР</a>
<a href="/add">Добавить ДР</a>
</body>
</html>
